@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');


h1{
    color: blue !important;
    letter-spacing: 20px;
    word-spacing: 20px;
    text-transform: lowercase;
}

p{
    text-indent: 50px;
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    /* writing-mode: vertical-lr; */
}

h2{
    text-decoration: overline;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}

h3{
    text-decoration: line-through;
}

h4{
    text-decoration: underline;
}

div{
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background-color: aqua;
    width: 50%;
    height: 50%;
}     

.underline{
    color: blue;
}

#normalText{
    font-style: normal;
    font-weight: normal;
}

#italicText{
    font-style: italic;
    font-weight: bold;
}

#obliqueText{
    font-style: oblique;
    font-weight: 300;
}

a:link{
    color: red;
}

a:visited{
    color: blueviolet;
}

a:hover{
    color: green;
}

a:active{
    color: blue;
}