.container{
    display: flex;
    background: blue;
}

.container div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

/* flex order */

.container div:nth-child(1){
    order: 2;
}
.container div:nth-child(2){
    order: 3;
}
.container div:nth-child(3){
    order: 0;
}
.container div:nth-child(4){
    order: 1;
}

/* flex-direction */
.container2{
    display: flex;
    background: blue;
    flex-direction: row-reverse;
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: column; */
}

.container2 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

/* flex-grow */

.container3{
    display: flex;
    background: blue;
    flex-direction: row;
}

.container3 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

.container3 div:nth-child(3){
    flex-grow: 4;
}


/* flex-wrap */

.container4{
    display: flex;
    background: blue;
    flex-direction: wrap;
    flex-wrap: row;
    /* flex-wrap: nowrap;
    flex-wrap: wrap; */
}

.container4 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 30%;
}

/* justify-content
- flex-start
- flex-end
-center
- space-between
- space-around
- space-evenly */

.container5{
    display: flex;
    background: blue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container5 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

/* align-items */
/* - stretch
- flex-start
- flex-end
- center
- baseline */

.container6{
    display: flex;
    background: blue;
    flex-direction: row;
    height: 200px;
    align-items: flex-start;
}

.container6 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}


.container6 div:nth-child(1){
    height: 20px;
}
.container6 div:nth-child(2){
    height: 100px;
}
.container6 div:nth-child(3){
    height: 50px;
}
.container6 div:nth-child(4){
    height: 130px;
}

/* align-content
flex-start
flex-end
center
space-between
space-around
stretch */

.container7{
    display: flex;
    background: blue;
    flex-direction: row;
    height: 800px;
    align-content: flex-start;
    flex-wrap: wrap;
}

.container7 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 200px;
    height: 150px;
}